@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./static/covid.jpg);
  background-size:cover;
}

.title{
  background-color: rgba(128, 128, 128, 0.37);
  color: white;
  text-align: center;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
}

.card{
  padding-left: 10px;
  background-color: white;
  width: 70vw;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 150px;
  font-weight: bold;
  font-size: 2.5rem;
}

.bold{

}